body{
    margin: 0;
    padding: 0;
    background-color: rgb(9, 4, 33);
}
.Card-bg{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Card{
    margin-top: 40px;
    width: 390px;
   
    background-color: rgba(1, 33, 49, 0.927);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px;
}
.pro{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    margin: 30px 30px;
    background-color: rgb(250, 219, 0);
    border: 1px solid gold;
    outline: none;
    border-radius: 5px;
}
.pro p{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 17px;
     font-weight: bold;
}
.profile-bg{
display: flex;
justify-content: center;
align-items: center;
}
.profile-img{
    width: 150px;
    height: 150px;
   
   border-radius: 100%;
   border: solid turquoise;
}
.rades img{
width: 140px;
height: 140px;
border-radius: 100%;
padding: 5px 5px;
object-fit: cover;
}
.text-bg{
display: flex;
justify-content: center;
align-items: center;
}
.text-card{
text-align: center;
color: white;

}
.text-card-1 h3{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-card-2 p{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-card{
    display: flex;
   justify-content: center;
    align-items: center;
    
   
}
.btn-card-1 button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 10px 20px;
margin: 0px 5px;
border-radius: 5px;
background-color: aqua;
border: 1px solid aqua;
outline: none;
font-size: 14px;
}
.btn-card-2 button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 30px;
    margin: 0px 5px;
    border-radius: 5px;
  color: aqua;
    background-color: transparent;
    border: 1px solid aqua;
   border: 1px solid aqua;
   font-size: 14px;
   
}
.skill-bg{
    background-color:rgb(1, 22, 36);
    border-radius: 0 0 10px 10px;
    color: aqua;
    

}
.skill-card{
margin: 0px 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.skill-card-text{
   padding-top: 12px;
   font-size: 18px;

}
.card-box-x{
display: flex;
margin-top: 5px;

}
.box-x-1{
    padding:5px 9px;
    
    border-radius: 5px;
    border: 1px solid aqua;
    outline: none;
}
.box-x-2{
    
    padding: 5px 9px;
    margin-left:7px;
    border-radius: 5px;
    border: 1px solid aqua;
    outline: none;
}
.box-x-3{
     padding: 5px 9px;
     margin-left: 7px;
     border-radius: 5px;
     border: 1px solid aqua;
     outline: none;
}
.box-x-4{
    padding: 5px 9px;
    
    margin-left: 7px;
    border-radius: 5px;
    border: 1px solid aqua;
    outline: none;
}
.card-box-y{
    display: flex;
    margin-top: 10px;   
}
.box-y-1{
    padding:5px 9px;
    border-radius: 5px;
    border: 1px solid aqua;
    outline: none;
}
.box-y-2{
    padding: 5px 9px;
    margin-left:7px;
    border-radius: 5px;
    border: 1px solid aqua;
    outline: none;
}
.box-y-3{
     padding: 5px 9px;
     margin-left: 7px;
     border-radius: 5px;
     border: 1px solid aqua;
     outline: none;
}


